👉⚡️ <b>{{ i18n['instructions']['start'] }}:</b>

1️⃣ {{ i18n['instructions']['hit'] }} <b>«{{ i18n['buttons']['menu']['categories'] }} 🧲»</b> {{ i18n['instructions']['for_start'] }} ✅

2️⃣ {{ i18n['instructions']['choice_your_area'] }} 💼
🔹 {{ i18n['instructions']['offers_are_instant'] }}

3️⃣ {{ i18n['instructions']['in_chapter'] }} <b>«{{ i18n['buttons']['menu']['points'] }} 💎»</b> {{ i18n['instructions']['check_balance'] }}
🔹 {{ i18n['buttons']['menu']['points'] }} - {{ i18n['instructions']['use_of_points'] }} ⚜️

{{ i18n['instructions']['ready'] }} <b>«{{ i18n['buttons']['menu']['categories'] }} 🧲»</b> - {{ i18n['instructions']['go'] }}

❓ {{ i18n['instructions']['any_questions'] }}?
💬 {{ i18n['instructions']['helper'] }} — {{ i18n['instructions']['tg_admin'] }}

<b>{{ i18n['instructions']['good_links'] }}:</b>
🔹 <a href="{{ i18n['instructions']['vacancies_group'] }}">{{ i18n['instructions']['text_for_vacancies_group'] }}</a>
🔹 <a href="{{ i18n['instructions']['group_for_feedback'] }}">{{ i18n['instructions']['text_for_feedback_group'] }}</a>