👉⚡️ {{ i18n['instructions']['start'] }}:

1️⃣ {{ i18n['instructions']['hit'] }} "{{ i18n['buttons']['menu']['categories'] }} 🧲" {{ i18n['instructions']['for_start'] }} ✅

2️⃣ {{ i18n['instructions']['choice_your_area'] }} 💼
🔹 {{ i18n['instructions']['offers_are_instant'] }}

3️⃣ {{ i18n['instructions']['in_chapter'] }} "{{ i18n['buttons']['menu']['points'] }} 💎" {{ i18n['instructions']['check_balance'] }}
🔹 {{ i18n['buttons']['menu']['points'] }} - {{ i18n['instructions']['use_of_points'] }} ⚜️
🔹 {{ i18n['instructions']['every_day'] }} 2 {{ i18n['instructions']['free_points'] }}

{{ i18n['instructions']['ready'] }} "{{ i18n['buttons']['menu']['categories'] }} 🧲" - {{ i18n['instructions']['go'] }}