.env
.pytest_cache
**/__pycache__/**
.vscode
venv/
.env.test
# Временные файлы
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage
__pycache__/
*.py[cod]
*$py.class

traefik_data/
pgadmin_data/
database/
uploads/
extensions/
templates/
local-files/
postgres/
n8n_data/
