<b>{{ i18n['user']['new_user'] }}</b>

{{ i18n['user']['username'] }}: {{ user.first_name }}
{{ i18n['user']['tg_username'] }}: @{{ user.username }}
{{ i18n['user']['all_users_count'] }}: {{ analytics.get('users_count') }}
{{ i18n['user']['users_status_works'] }}: {{ analytics.get(bot_status.WORKS) }}
{{ i18n['user']['users_status_bot_blocked'] }}: {{ analytics.get(bot_status.BOT_BLOCKED) }}
