{{ i18n['choice_category']['choice'] }}
{{ i18n['choice_category']['instruction'] }}

🔋 - {{ i18n['choice_category']['category_is_selected'] }}
🪫 - {{ i18n['choice_category']['category_not_selected'] }}
