{{ i18n['payment']['for_admin']['success'] }}

{{ i18n['payment']['for_admin']['client'] }}: {{ name }}
{{ i18n['payment']['for_admin']['points'] }}: {{ points }}
{{ i18n['payment']['for_admin']['stars'] }}: {{ stars }}