<blockquote>
<tg-emoji emoji-id="5353025608832004653">🤩</tg-emoji> <b>{{ i18n['spam']['help_with_spam'] }}.</b>

<tg-emoji emoji-id="5433805508353996553">➕</tg-emoji> <b>{{ i18n['spam']['credited_to_you'] }}.</b>

<tg-emoji emoji-id="5458774648621643551">🙏</tg-emoji> <b>{{ i18n['spam']['notify_the_user_about_the_bonus_transfer'] }}.</b>
</blockquote>
{{ user.first_name }}
{{ i18n['user']['balance']['point'] }}:
🔍 {{ i18n['user']['balance']['paid_bill'] }}: {{ user.point }}
🎁 {{ i18n['user']['balance']['bonus'] }}: {{ user.bonus }}
