<tg-emoji emoji-id="5193018401810822951">🎉</tg-emoji> {{ i18n['payment']['for_user']['congratulations'] }} <tg-emoji emoji-id="5193018401810822951">🎉</tg-emoji>

{{ i18n['payment']['for_user']['payment_was_successful'] }} <tg-emoji emoji-id="5215492745900077682">✅</tg-emoji>

{{ i18n['payment']['for_user']['enrolled'] }}: {{ pluralize(points, i18n['points']) }}.
