{{ i18n['payment']['for_user']['congratulations'] }} {{ i18n['payment']['for_user']['payment_was_successful'] }} 🔋🎉

{{ i18n['payment']['for_user']['enrolled'] }}: {{ pluralize(points, i18n['points']) }}. 💳

