{{ i18n['user']['balance']['out_of_points'] }} 😢
{{ i18n['user']['balance']['offer'] }}
🪫 {{ i18n['user']['balance']['paid_bill'] }}: {{ user.point }}
🪫 {{ i18n['user']['balance']['bonus_account'] }}: {{ user.bonus }}



